.flag{
  width: 35px;
  height: 35px;
}

@media (max-width: 991px) {
  .devedu{
    margin-top:25px;
  }
}

@media (max-width: 500px) {
  .marvel{
    height:170px;
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  .marvel{
    height:250px;
  }
}

@media (min-width: 700px) and (max-width: 900px) {
  .marvel{
    height:300px;
  }
}