// Core variables and mixins
@import "variables.scss";
@import "mixins.scss";
// Global CSS
@import "global.scss";
@import "nav.scss";
@import "resume-item.scss";
@import "bootstrap-overrides.scss";
// Components

.flag {
  width: 50px;
  height: 50px;
}

.marvel {
  height: 400px !important;
  width: 100% !important;
}